/** Your theme modifications here **/
#btns {
    text-align: center;
    margin-top: 50px;

}

#btn1, #btn2 {
    display: inline-block;
}

#acn {
    padding: 50px;
    height: 350px;
    /*width: 500px;*/
}

#acn > h3 {
    text-align: center;
}


.btnHref {
    background:none!important;
    border:none; 
    padding:0!important;

    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
    color:#069;
    cursor:pointer;
}
#addEnd:hover{
    text-decoration:underline;
}

#imagemProd {
    display: block;
    margin: 0 auto;   

}


/*.tamanhoImg {
  width: 178px;
  height: 312.59px;
}*/


#formBusca {
    margin-top: 0px;
    margin-bottom: 0px;
}


.categorias {

    text-transform: none!important;
    font-weight: bold;
    position: relative;
    background:none!important;
    border:none; 
    display: block;
    padding: 10px 15px;
    padding-left: 30px;
    font-size: 12px;
    color: #999999;
}